{% extends 'form-template.html.twig' %}


{% set page_title = 'Editar satèl·lit: ' ~ satelit.nom %}
{% set form = edit_form %}
{% set entity = 'satelit' %}

{% block form %}
    <div class="form-group">
        {{ form_label(form.idPlaneta) }}
        {{ form_widget(form.idPlaneta) }}
    </div>
{% endblock %}
