{% extends 'layout.html.twig' %}



{% block title %}Inserir nou satèl·lit{% endblock %}


{% block body %}
    <h1>Crea un nou satèl·lit</h1>

    {{ form_start(form) }}
        <div class="form-group">
            {{ form_widget(form) }}
        </div>
    {{ form_end(form) }}

        <a class="btn btn-info btn-block" href="{{ path('satelit_index') }}">Tornar a la llista</a>
{% endblock %}
