@import url('https://fonts.googleapis.com/css?family=Quicksand');

body
{
    font-family: 'Quicksand', sans-serif;
}

td, th {
    border: 1px solid #777;
    padding: 0.5em;
}


td>ul
{
    padding: 0;
    margin: 0;
    list-style: none;
}

td>ul>li
{
    display: inline;
}

td > ul > li > a
{
    
}