@import url('https://fonts.googleapis.com/css?family=Quicksand');

body
{
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
}

dl *
{
    line-height: 1.75em;
}


td, th {
    border: 1px solid #aaa;
    padding: 0.5em;
}

td ul
{
    padding: 0;
    margin: 0;
    list-style: none;
}

td ul li
{
    display: inline;
}

label + .form-control 
{
    margin-bottom: 0.5em;
}

.alert {
    width: 100%;
    z-index: 5;
    margin: 0;
    padding: 1em;
    font-size: 1.5em;
    position: fixed;
    text-align: center;
    cursor: pointer;
}
