{% extends 'layout.html.twig' %}

{% set page_title = 'Inici' %}

{% block body %}
    <div class="jumbotron">
        <h1>Benvingut a Sistema Solar!</h1>
        <p>Utilitza la barra de menú per a navegar per la pàgina.</p>
    </div>
{% endblock %}